###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDEs & Editors ###
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
###< IDEs & Editors ###

###> OS files ###
.DS_Store
Thumbs.db
###< OS files ###

###> Docker & Tools ###
docker-compose.override.yml
.phpunit.result.cache
.php-cs-fixer.cache
###< Docker & Tools ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
